.food-menu {
    text-align: center;
    background-color: rgb(209, 207, 207);
    padding: 30px 10%;
}
.food-menu h1{
    margin: 50px 0;
}
.food-menu h4{
    color:  rgb(223, 99, 119);
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.menu {
    display: flex;
    padding: 20px;
    background-color: #fff;
    height: 120px;
    width: 49%;
    border-radius: 10px;
    text-align: left;
}

.menu img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.right p {
    color: gray;
    font-size: 10px;
}

.right {
    padding-left: 20px;
    line-height: 1.5;
}
.right button{
    background-color: rgb(223, 99, 119);
    border: none;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
    cursor: pointer;
}
/* media query */

@media (max-width:700px){
 .row{
    display: block;
 }
 .menu{
    width: 100%;
    margin-top: 20px;
    padding-right: 0;
 }
 .food-menu{
    padding: 50px 0;
 }   
 
.right p {
    font-size: 9px;
}
}